$accent: #fe3e57;
$default: #8d8d8d;
$title: #28292d;

%quicksand-400{
    font-family: "Quicksand-Regular", sans-serif;
    font-weight: 400;
}

%quicksand-500{
    font-family: "Quicksand-Medium", sans-serif;
    font-weight: 500;
}

%quicksand-600{
    font-family: "Quicksand-SemiBold", sans-serif;
    font-weight: 600;
}

%roboto-400{
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
}

%roboto-700{
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
}