@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// HEADER

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item {
        text-transform: uppercase;
    }

    &__list-item+&__list-item {
        padding-left: 35px;
    }

    &__list-link {
        color: $title;
        padding: 0 2px 1px;
        transition: all 0.3s;
        @extend %roboto-400;

        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %roboto-700;
        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link+&__link {
        padding-left: 25px;
    }

    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        color: white;
        text-align: center;
        line-height: 20px;
    }
}

// FOOTER

.footer {
    background-color: $bg;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;

    &__contact {
        width: 250px;
        margin-right: 50px;
    }

    &__nav {
        width: 170px;
        margin-right: 30px;
    }

    &__item-form {
        max-width: 470px;
    }

    &__logo {
        display: block;
        margin-bottom: 41px;
    }

    &__adress,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 10px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-item+&__social-item {
        padding-left: 18px;
    }

    &__social-link {
        transform: all 0.3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__title {
        color: $title;
        @extend %roboto-400;
        margin-bottom: 42px;
        font-size: 22px;
        line-height: 1;
    }

    &__link {
        display: block;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form-input {
        background-color: white;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        max-width: 320px;
        width: 100%;
        border: none;
        padding: 12px 10px 12px 15px;

        &::placeholder {
            color: $default;
            font-size: 16px;
        }
    }

    &__form-btn {
        @extend %btn;
        border: none;
        cursor: pointer;

    }
}

// FOOTER-bottom

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__accept-img {
        display: inline;
        vertical-align: middle;
        margin-left: 25px;
    }
}

// TOP

.top {

    &__container {
        max-width: 1700px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 120px 0 130px;
        text-align: center;

        .title {
            @extend %roboto-400;
        }
    }


}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url(../images/icons/home_icon.svg);
        width: 16px;
        height: 16px;
        left: 0;
        top: 4px;
    }

    &__list {
        display: flex;
    }

    &__item {
        color: #727272;
        padding-right: 40px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 9px;
            height: 10px;
            right: 15px;
            top: 9px;
            background-image: url(../images/icons/arrow_right.svg);
        }
        &:last-child{
            color: $accent;
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}



// SLIDER

.top-slider {
    background-image: url(../images/decor/top_slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bg;
    padding: 65px 0 45px;

    &__container {
        max-width: 1560px;
    }

    &__content {
        padding-left: 175px;
        padding-top: 125px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__title {
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;
    }

    &__text {
        max-width: 470px;
        margin-bottom: 55px;
    }

    &__link {
        @extend %btn;
        padding: 14px 35px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;

        li {
            padding: 0 5px;
            line-height: 0;

            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

// CATEGORIES

.categories-info {
    padding: 120px 0;
    background-image: url(../images/decor/categories_left.png);
    background-repeat: no-repeat;
    background-position: center left;

    &__inner {
        background-image: url(../images/decor/categories_right.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
    }

    &::before {
        background-image: url(../images/decor/info_before-bg.svg);
        top: -40px;
        left: -45px;
        width: 120px;
        height: 121px;
    }

    &::after {
        background-image: url(../images/decor/info_after-bg.svg);
        bottom: -23px;
        right: -23px;
        width: 65px;
        height: 52px;
    }

    &__item {
        background-color: white;
        padding: 60px 30px;
        width: 370px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__item-title {
        margin: 35px 0 10px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }
}

.categories {
    &__items {
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 35px;
        padding-left: 40px;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-subtitle,
            .categories__link:hover {
                color: #5800e4;
            }

            .categories__link:hover {
                border-bottom: 1px solid #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;

            .categories__item-subtitle,
            .categories__link:hover {
                color: $accent;
            }

            .categories__link:hover {
                border-bottom: 1px solid $accent;
            }
        }

        &:nth-child(3) {

            .categories__item-subtitle,
            .categories__link:hover {
                color: #ffb534;
            }

            .categories__link:hover {
                border-bottom: 1px solid #ffb534;
            }
        }

        &:nth-child(4) {

            .categories__item-subtitle,
            .categories__link:hover {
                color: #34c3ff;
            }

            .categories__link:hover {
                border-bottom: 1px solid #34c3ff;
            }
        }
    }

    &__item-subtitle {
        margin-bottom: 5px;
    }

    &__item-title {
        font-size: 22px;
        color: $title;
        margin-bottom: 16px;
    }

    &__link {
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
        transition: all 0.3s;
    }
}

// VIDEO-FASHION

.video-fashion {
    background-color: $bg;
    background-image: url(../images/section_bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 125px 0;

    &__inner {
        display: flex;
    }

    &__popup {
        margin-right: 60px;
        max-width: 530px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 570px;
        width: 100%;
    }

    &__subtitle {
        padding-top: 75px;
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__title {
        text-align: left;
    }

    &__text {
        margin-bottom: 55px;
    }

    &__link {
        @extend %btn;
    }
}

// PRODUCTS

.product {
    padding: 105px 0 120px;
    text-align: center;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
    }

    &__link {
        text-transform: uppercase;
        color: $title;
        display: inline-block;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 55px;
    }
}

.product-item {
    max-width: 370px;

    &__img-box {
        position: relative;
        height: 370px;
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__images {
        object-fit: cover;
    }

    &__link-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: white;
        width: 220px;
        height: 50px;
        margin: 0 auto;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translateY(300%);
        transition: all 0.3s;
    }

    &__link {
        display: inherit;

        path {
            transition: all 0.3s;
        }
    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &__link--line::before,
    &__link--line::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #ececec;
        top: 10px;
    }

    &__link--line::before {
        left: 70px;
    }

    &__link--line::after {
        right: 70px;
    }


    &__title {
        color: $title;
        margin: 15px 0 20px;
    }

    &__price {
        display: flex;
        justify-content: center;
        @extend %roboto-400;
    }

    &__new-price {
        padding: 0 12px;
        color: $title;
    }

    &__old-price {
        padding: 0 12px;
        text-decoration: line-through;
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }

    &--sale {
        .product-item__img-box::before {
            content: 'SALE';
            @extend %btn;
            position: absolute;
            top: 25px;
            left: 25px;
            line-height: 1;
            padding: 7px 9px;
        }
    }
}

.star {
    margin: 0 auto;
}

// PROMO

.promo {
    background-image: url(../images/promo_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 150px 0 160px;
    text-align: center;

    &__inner {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
    }

    &__subtitle {
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 22px;
    }

    &__clock {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
    }

    &__clock-item {
        background-color: white;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

        span {
            @extend %roboto-700;
            font-size: 48px;
            margin: 12px 0 7px;
            color: $title;
        }
    }

    &__link {
        text-transform: uppercase;
        color: $title;
        display: inline-block;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 55px;
    }

}

// PARTNERS

.partners {
    padding-top: 75px;

    &__list {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

// BLOG

.blog {
    padding: 50px 0 160px;
    background-image: url(../images/blog_bg.svg);
    background-repeat: no-repeat;
    background-position: center center;

    &__items {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -25px;
            right: -20px;
            z-index: -1;
            width: 126px;
            height: 53px;
            background-image: url(../images/blog_decor.svg);
        }
    }

    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all 0.3s;

        &:hover {
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

            .blog__item-link {
                color: $accent;

                &::after {
                    background-image: url(../images/icons/arrow_hover.svg);
                }
            }
        }
    }



    &__item-imglink {
        display: block;

        img {
            height: 288px;
            object-fit: cover;
        }
    }

    &__item-box {
        padding: 30px 40px;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__item-author,
    &__item-date {
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 4px;
        }
    }

    &__item-author::before {
        background-image: url(../images/icons/user_blog.svg);
    }

    &__item-date::before {
        background-image: url(../images/icons/time.svg);
    }

    &__item-title {
        color: $title;
        @extend %roboto-400;
        font-style: 22px;
        margin-bottom: 20px;
    }

    &__item-link {
        position: relative;
        transition: all 0.3s;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 8px;
            top: 8px;
            right: -14px;
            background-image: url(../images/icons/arrow.svg);
        }
    }

}

// MODAL

.modal {
    padding-top: 100px;
    max-width: 570px;
    margin: 0 auto 115px;

    &__links {
        text-align: center;
        margin-bottom: 40px;
    }

    &__link {
        color: #909090;
        font-size: 22px;
        @extend %roboto-400;
        text-transform: uppercase;
        margin: 0 30px;
    }

    &__link--active {
        color: $accent;
    }

    // &__form {
    // }

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
         display: block;
        width: 100%;
        border: none;
        background-color: $bg;
        margin-top: 4px;
        height: 60px;
        padding: 0 15px;
    }

    &__btn{
        display: block;
        background-color: $title;
        text-transform: uppercase;
        color: white;
        @extend %roboto-400;
        padding: 14px 0;
        border: none;
        display: block;
        width: 100%;
        cursor: pointer;
    }

    &__error {
        margin-top: 12px;
        color: $accent;
        display: inline-block;
    }
}

